<form id="im-pay-form" action="{$form_url}" method="POST">
{foreach $hidden_fields as $name => $value}
    <input type="hidden" name='{$name}' value='{$value|escape}'>
{/foreach}
    {if $auto_submit}
        <script type="text/javascript">
            document.getElementById('im-pay-form').submit();
        </script>
    {else}
        <input type="submit" value="Оплатить заказ на сайте «IntellectMoney»">
    {/if}
</form>